import(GenomicAlignments)
import(GenomicRanges)
import(ggplot2)
import(ComplexHeatmap)

importFrom("BiocGenerics",unlist)
importFrom("biomaRt",useMart)
importFrom("biomaRt",getBM)
importFrom("circlize",colorRamp2)
importFrom("plyr",llply)
importFrom("rtracklayer",BigWigSelection)
importFrom("rtracklayer",import.bed)
importFrom("rtracklayer",import.bw)
importFrom("rtracklayer",getSeq)

export(buildAnnotationStore)
export(calcCoverage)
export(coverageRef)
export(coverageRnaRef)
export(getAnnotation)
export(getBiotypes)
export(getr)
export(kmeansDesign)
export(preprocessRanges)
export(profileMatrix)
export(recoup)
export(recoupCorrelation)
export(recoupHeatmap)
export(recoupProfile)
export(recoupPlot)
export(removeData)
export(setr)
export(sliceObj)
